# Flutter
.build/
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# iOS
ios/Pods/
ios/Runner.xcworkspace/

# Android
android/.gradle/
android/app/build/

# macOS
macos/Pods/

# IDE
.idea/
.vscode/

# Misc
*.log
*.lock
